@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap');

:root {
    --base-color: #cddae0;
    /* --accent-color: rgb(228, 110, 42); */ /* orange */
    /* --accent-color: rgb(191, 42, 228); purple */
    --accent-color: rgb(228, 42, 42); /* purple */
    --dark-color: #221c53;
    --light-color: #fafafa;  
    --font-sans: 'Nunito', sans-serif; 
    --font-serif: 'Nunito', sans-serif; 
    --font-big: 3em;  
    --font-medium: 1.5em;  
    --font-small: 1em;
    --font-heavy: 700;
    --font-light: 400;  
  }

body {
    background-color: var(--base-color);
    color:  var(--dark-color);
    font-family: var(--font-sans);
}

div {
    margin: 10px;
}

input[type="text"], input[type="number"] {
    background-color: var(--light-color);
    border: none;
}

button {
    background-color: var(--base-color);
    opacity: 0.6;
    border: none;
    color:  var(--dark-color);
    font-family: var(--font-sans);
    padding: 10px;
    width: 100%;
}

h1 {
    color:  var(--accent-color);
    font-size: var(--font-big);
}

h3 {
    color:  var(--accent-color);
}

.EventList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.event {
    background-color: var(--light-color);
    border: none;
    outline: none;
}



@media all and (max-width: 500px) {
  .EventList {
    display: grid;
    grid-template-columns: 1fr;
   }
}

@media all and (min-width: 500px) and (max-width: 650px){
  .EventList {
    grid-template-columns: 1fr;
  }
}

/* @media all and (max-width: 750px) {
    .EventList {
      grid-gap: 10px;
    }
  } */

@media only screen and (min-width: 992px) {
  .EventList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}